#modal-content {
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#issueLoger {
    background-color: #e6e6ff;
}

#empTblHead {
    font-weight: bold;
}

#login_background {
    background: url(../../images/login-background/login.jpg) no-repeat center bottom fixed;
    background-size: cover;
}